<strong>Olá, {{ student }}</strong>
<p>Sua dúvida foi respondida, segue: </p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br>
  <strong>Resposta: </strong> {{ answer }} <br>
  <strong>Data de resposta: </strong> {{ dt_answer }} <br>
</p>
